.taskboard{
    position: absolute;
    width:30%;
    min-width: 320px;
    text-align: center;
    height:250px;
    left:35%;
    top:120px;
    background-color: rgba(151, 248, 255, 0.295);
}

@media only screen and (max-device-width: 480px) {
    .taskboard{
        position: absolute;
        width:30%;
        min-width: 320px;
        text-align: center;
        height:250px;
        left:35%;
        top:120px;
        background-color: rgba(151, 248, 255, 0.295);
        }
}